@font-face {
  font-family: "Noto Sans";
  src:
    local("Noto Sans Regular"), /* Family Name */
    local("NotoSans-Regular"), /* Postscript Name */
    url("/fonts/notosans-400-subset.woff2") format("woff2");
  font-weight: 400; /* Regular / Normal / 400 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono";
  src: 
    local("Noto Sans Mono Regular"), /* Family Name */
    local("NotoSansMono-Regular"), /* Postscript Name */
    url("/fonts/notosansmono-400-subset.woff2") format("woff2");
  font-weight: 400; /* Regular / Normal / 400 */
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  vertical-align: baseline;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

ul,
il {
  list-style: inside;
}

ol,
il {
  list-style-position: inside;
}

/* Define colors */
:root {
  --primary-color: #ff9800;
  --primary-variant: #ff5722;
  --background-color: #212121;
  --text-color: #ffffff;
  --link-color: #ff9800;
  --black: #101010;
}

/* Apply styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  max-width: 1024px;
}

/* Primary color for branding */
.branding {
  color: var(--primary-color);
}

/* Primary variant for interactive elements */
.primary_variant {
  color: var(--primary-variant);
}

a {
  color: var(--link-color);
  text-decoration: none;
  position: relative; /* Needed for positioning the pseudo-element */
}

a {
  padding-left: 1%;
}

a::before {
  content: "/";
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: bold;
  display: none;
}

a:hover::before {
  display: inline;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.1;
}

ol,
ul,
pre,
p,
h2,
h3,
h4 {
  margin-top: 1em;
}

p {
  line-height: 2;
}
pre *,
p code {
  font-family: "Noto Sans Mono", monospace;
}

pre {
  overflow-x: auto; /* Horizontal scroll bar if needed */
  max-width: 100%; /* Ensures the pre element does not exceed the parent container's width */
  padding: 1em;
}

p code {
  color: var(--primary-variant);
}

blockquote {
  font-style: italic; /* Italicizes the text */
  border-left: 4px solid #ccc; /* Adds a left border */
  margin: 1em;
  padding: 1em;
}
blockquote p {
  margin: 0;
}

img {
  text-align: center;
  margin: auto;
  display: block;
}

.main {
  padding: 1em;
}
