*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  vertical-align: baseline;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: smoke-white;
}

ul,
il {
  list-style: none;
}

/* Define colors */
:root {
  --primary-color: #ff9800;
  --primary-variant: #ff5722;
  --background-color: #212121;
  --text-color: #ffffff;
  --link-color: #ff9800;
  --black: #101010;
}

/* Apply styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Primary color for branding */
.branding {
  color: var(--primary-color);
}

/* Primary variant for interactive elements */
.primary-variant {
  color: var(--primary-variant);
}

/* Secondary colors for accents */
.secondary-color {
  color: var(--secondary-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  position: relative; /* Needed for positioning the pseudo-element */
}

p a,
li a {
  padding-left: 1%;
}

a::before {
  content: "/";
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: bold;
  display: none;
}

a:hover::before {
  display: inline;
}

@media (max-width: 720px) {
  p {
    font-size: 1.2em;
  }
}
