---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<style>
  a h4 {
    display: inline-block;
    padding-left: 1%;
  }
</style>
<BaseLayout>
  <article>
    <h1>Blog</h1>
    {
      posts.map((post) => (
        <div>
          <a href={`/blog/${post.slug}/`}>
            <h4 class="title">{post.data.title}</h4>
          </a>
        </div>
      ))
    }
  </article>
</BaseLayout>
