---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<style>
  a {
    display: block;
    padding-left: 1%;
  }
  p {
    margin: 0;
    color: var(--text-color);
  }
</style>
<BaseLayout>
  <article>
    <h1>Posts</h1>
    {
      posts.map((post) => (
        <a href={`/blog/${post.slug}/`}>
          <h4 class="title">{post.data.title}</h4>
          <p> {post.data.pubDate.toLocaleDateString()}</p>
        </a>
      ))
    }
  </article>
</BaseLayout>
