---
const today = new Date()
---

<style>
  p,
  a {
    margin-top: 0.2em;
    text-align: center;
  }
  a {
    padding-left: 1%;
  }
  footer {
    padding: 2em;
  }
</style>
<footer>
  <p>
    &copy; {today.getFullYear()} Ernesto Cruz Olivera. All rights reserved.
  </p>

  <p>
    Vectors and icons by <a href="https://www.svgrepo.com" target="_blank">SVG REPO</a>.
  </p>
</footer>
