---
const today = new Date()
---

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  p {
    white-space: nowrap;
  }
</style>
<footer>
  <p>
    &copy; {today.getFullYear()} Ernesto Cruz Olivera. All rights reserved.
  </p>

  <p>
    Vectors and icons by <a href="https://www.svgrepo.com" target="_blank">SVG REPO</a>.
  </p>
</footer>
