---
import { SITE_TITLE } from "../consts"
import { Icon } from "astro-icon/components"
---

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav div {
    display: flex;
    margin: 1em;
  }

  nav a {
    padding: 0.5em;
    font-size: 1.5em;
  }

  [data-icon] {
    font-size: 1em;
  }
</style>

<header>
  <nav>
    <div>
      <a class="title" href="/">{SITE_TITLE}</a>
      <a href="/about">About</a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/ecruzolivera" target="_blank"> <Icon name="linkedin" /></a>
      <a href="https://gitlab.com/ecruzolivera" target="_blank"> <Icon name="gitlab" /></a>
      <a href="https://github.com/ecruzolivera" target="_blank"> <Icon name="github" /></a>
    </div>
  </nav>
</header>
