@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @tailwind base;

@tailwind components;

@tailwind utilities; */

body {
  background-color: theme('colors.bg-primary');
  color: theme('colors.primary');
}

.linkText {
  background-color: theme('colors.bg-secondary');
  @apply p-1 rounded-sm;
}

.linkText:hover {
  background-color: theme('colors.bg-primary');
}

.transition-400 {
  transition: 400ms;
}
