---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <BaseHead />
    <style>
      body {
        max-width: 1024px;
        width: 100vw;
        height: 100vh;
        margin: auto;
        display: flex col;
        justify-content: space-between;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <Header class="header" />
    <main class="main">
      <slot />
    </main>
    <Footer class="footer" />
  </body>
</html>
