---
import type { CollectionEntry } from "astro:content"
import BaseLayout from "./BaseLayout.astro"

type Props = CollectionEntry<"blog">["data"]

const { title, pubDate, updatedDate } = Astro.props
---

<style>
  .dates {
    display: flex;
    gap: 1em;
  }
</style>

<BaseLayout>
  <article>
    <h1>{title}</h1>
    <div class="dates">
      <p>Published on {pubDate.toLocaleDateString()}</p>
      {
        updatedDate && (
          <>
            <p> - </p>
            <p class="primary_variant">Updated on {pubDate.toLocaleDateString()}</p>
          </>
        )
      }
    </div>
    <slot />
  </article>
</BaseLayout>
<script>
  document.querySelectorAll("article a").forEach((anchor) => {
    const hreft = anchor.getAttribute("href")
    if (hreft && hreft.startsWith("http")) {
      anchor.setAttribute("target", "_blank")
    }
  })
</script>
